@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

:root{
  --accent: #6366f1; /* indigo-500 */
}

body {
  @apply bg-white;
  font-family: 'Poppins', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glass {
  background: rgba(255,255,255,0.6);
  backdrop-filter: blur(6px);
}

.badge-tech{
  @apply inline-flex items-center text-xs px-2 py-1 rounded-full bg-gray-100 text-gray-700;
}

.card-shadow{
  box-shadow: 0 6px 18px rgba(15,23,42,0.08);
}
